@media (min-width:320px) and (max-width:575px) {

    .tittle h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .tittle p {
        width: auto;
        margin-bottom: 20px;
    }

    /*=============================== header Start */
    header .header-contact span {
        font-size: 12px;
        display: block;
        text-align: center;
    }


    header .header-contact a {
        display: block;
        margin-left: 0;
        font-size: 12px;
        text-align: center;
    }

    header .header-reg {
        text-align: center;
        margin-top: 5px;
    }

    /*=============================== header END */


    /*=============================== NAV Start */

    nav {
        padding-top: 0;
        padding-bottom: 10px;
    }

    nav ul li {
        margin-right: 12px;
        margin-top: 0;
        text-align: right;
    }

    nav ul li a {
        display: inline-block;
    }

    nav .button a {
        font-size: 13px;
        padding: 8px 12px;
    }

    nav .button {
        text-align: right;
        margin-top: 0;
    }

    /*=============================== NAV END */


    /*=============================== NAV END */

    #banner-section .slider .overlay {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #banner-section .slider .overlay h4 {
        font-size: 20px;
    }

    #banner-section .slider .overlay h2 {
        font-size: 30px;
    }

    #banner-section .slider .overlay p {
        font-size: 12px;
        width: auto;
        margin-bottom: 15px;
    }

    #banner-section .slider .overlay a {
        padding: 8px 15px;
        font-size: 15px;
        margin: 0 14px;
    }

    #banner-Facilities .Facilities-item {
        transform: translateY(0);
    }


    #banner-section .slick-dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    #banner-section .slick-dots li {
        display: inline-block;
        margin: 0 5px;
    }

    #banner-section .slick-dots li button {
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid #999;
        border-radius: 50%;
        font-size: 0;
    }

    #banner-section .slick-dots .slick-active button {
        background: #fbaa33;
        border-color: #fbaa33;
    }

    #banner-Facilities .Facilities-item {
        padding: 15px 0;
    }

    #banner-Facilities .Facilities-item h3 {
        font-weight: 400;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #banner-Facilities .Facilities-item img {
        width: 50px;
    }

    /*=============================== NAV END */


    /*=============================== about start */
    #abour-section {
        padding-top: 60px;
    }

    #abour-section .rev_slider .slick-slide img {
        width: 100%;
    }


    #abour-section .top-bottom-shape::before {
        width: 0px;
    }

    #abour-section .top-bottom-shape::after {
        width: 0px;
    }

    #abour-section .top-bottom-shape2::before {
        width: 0px;
    }

    #abour-section .top-bottom-shape2::after {
        width: 0px;
    }

    #abour-section .text {
        padding-left: 0;
    }

    #abour-section .text p {
        font-size: 12px;
        line-height: inherit;
    }

    #abour-section .text .button a {
        font-size: 15px;
        padding: 10px 14px;
        margin: 20px;
    }

    /*=============================== about END */

    /*=============================== Counter START */

    #counter-up {
        padding: 20px 0;
    }

    #counter-up .item h4 {
        margin-bottom: 30px;
    }

    /*=============================== Counter END */


    /*=============================== courses END */

    #courses {
        padding: 30px 0;
    }

    #courses .course .heading .name .couduct {
        margin-top: 0;
    }

    #courses .course .heading .name p {
        font-size: 12px;
    }

    #courses .course h4 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    #courses .course h4 {
        text-align: center;
    }

    #courses .course .course-details p {
        font-size: 12px;
        padding-bottom: 12px;
        line-height: inherit;
        text-align: center;
    }

    #courses .course-slider .course {
        padding: 11px;
    }

    #courses .course .course-price {
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
    }

    #courses .course .course-price .tit {
        font-size: 12px;
    }

    #courses .course .button a {
        padding: 12px 14px;
        font-size: 14px;
    }


    /* slider */
    #courses .slick-dots {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }

    #courses .slick-dots li {
        display: inline-block;
        margin: 0 5px;
    }

    #courses .slick-dots li button {
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid #999;
        border-radius: 50%;
        font-size: 0;
    }

    #courses .slick-dots .slick-active button {
        background: #fbaa33;
        border-color: #fbaa33;
    }

    /* slider */

    /*=============================== courses END */


    /*=============================== events Start */

    #events {
        padding: 50px 0;
    }

    #events .calender {
        width: 290px;
        margin-bottom: 30px;
    }

    #events .blog-item {
        display: flex;
        flex-direction: column;
    }

    #events .blog-item .image img {
        width: 100%;
    }

    #events .blog-item .blog {
        padding-left: 0;
    }

    #events .blog-item .blog h4 {
        margin-bottom: 5px;
        margin-top: 10px;
        width: 260px;
    }

    #events .blog-item .blog p {
        padding-bottom: 5px;
    }

    #events .blog-item .blog a {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    /*=============================== events END */


    /*=============================== Testimonial Start */

    #testimonial .testi-img-slider .slide-item img {
        width: 100%;
    }

    #testimonial .accordion-item {
        margin-top: 30px;
    }

    /* 
    #testimonial .testi-img-slider .left-arrow {
        top: 14%;
        left: 25px;
        width: 40px;
        height: 40px;
        line-height: 36px;
    }

    #testimonial .testi-img-slider .right-arrow {
        bottom: -10%;
        right: 25px;
        width: 40px;
        height: 40px;
        line-height: 36px;
    } */

    #testimonial .testi-text-slider p {
        font-size: 12px;
        line-height: inherit;
    }

    #testimonial .accordion h2 button {
        font-size: 18px;
    }


    /*=============================== Testimonial END */


    /*=============================== teachers Start */

    #teachers {
        padding: 30px 0;
    }

    #teachers .member {
        margin-bottom: 15px;
    }

    /*=============================== teachers END */

    /*=============================== blog END */

    #blog-section .top-blog .blog .blog-overlay {
        padding: 10px;
    }

    #blog-section .top-blog .blog-overlay .tittle {
        margin-top: 30px;
        padding-right: 45px;
        font-size: 15px;
    }

    #blog-section .top-blog:hover .blog-overlay .infor {
        opacity: 0;
    }

    #blog-section .bottom-blog .blog-overlay .icon {
        top: -50%;
    }

    /*=============================== blog END */


    /*=============================== footer END */
    footer .footer-left {
        padding-right: 0px;
    }

    footer .footer-link ul li a {
        margin-bottom: 10px;
        display: inline-block;
    }

    footer .footer-left p {
        font-size: 12px;
        line-height: inherit;
    }

    footer .footer-Contact .social {
        width: 25%;
    }

    footer .footer-left p span {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    footer .footer-link .social ul li {
        margin-top: 5px;
    }

    footer .footer-link .details ul li a {
        margin-bottom: 5px;
        display: inline-block;
    }


    footer .footer-Contact .details ul li p span {
        margin-bottom: 0px;
    }

    footer .footer-Contact .details ul li p {
        margin-bottom: 30px;
    }

    footer .footer-slider .img .overlay a {
        color: #fff;
        font-family: 'Arimo';
        font-weight: 400;
        font-size: 7px;
        text-align: center;
        background: #00000045;
        width: 100%;
        height: 100%;
        padding-top: 12px;
    }

    /*=============================== footer END */





    /* ---------------------------------------------- */
}